# Substitua <user>, <password>, e <cluster-url> pelas suas credenciais do MongoDB Atlas
# Certifique-se de que o nome do banco de dados (ex: openf1_data) está na string de conexão, se necessário.

# MONGO_URI="mongodb+srv://<user>:<password>@<cluster-url>/openf1_data?retryWrites=true&w=majority"
MONGODB_URI=mongodb://localhost:27017/
MONGODB_DB_NAME=openf1_data
SQLITE_DB_PATH=sqlite:///analysis_reports.db